header {
    background-color: #8EB8E5;
    text-align: center;
    padding: 20px;
}
h1{
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  color: white;
}
footer {
  background-color: #8EB8E5;
  font-family: 'Times New Roman', Times, serif;
  padding: 5%;
  border: 5px solid #D34F73;
}
.nav-links {
    margin: 0;
    background-color: #8EB8E5;
    text-decoration: none;
    font-size: 20px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.nav-links a {
    text-decoration: none;
    color: white;
    padding: 10px;
    margin: 0;
}
.nav-links .active{
    color: white;
    background-color: #D34F73;
}
.nav-links a:hover:not(.active) {
    background-color: #7C99B4;
    color: white;
}
.nav-links a:visited {
    color: white;
}


div.gallery {
    margin: 10px;
    border: 5px solid #D34F73;
    float: left;
    width: 300px;
  }
  
  div.gallery:hover {
    border: 1px, solid, #D34F73;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }


.blur {
  filter: blur(5px); /* Adjust blur intensity */
}
